<a href="https://colab.research.google.com/github/Ayushsevare/pythonProjectuser2/blob/master/anaxee_user.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import sklearn

In [ ]:
path= pd.read_csv('/content/final_agg_user.csv')

In [ ]:
print("initial data")
print(path.head())

initial data
   Unnamed: 0    brand  count  percentage                      state  year  \
0           0   Xiaomi   1665    0.247033  andaman-&-nicobar-islands  2018
1           1  Samsung   1445    0.214392  andaman-&-nicobar-islands  2018
2           2     Vivo    982    0.145697  andaman-&-nicobar-islands  2018
3           3     Oppo    501    0.074332  andaman-&-nicobar-islands  2018
4           4  OnePlus    332    0.049258  andaman-&-nicobar-islands  2018

   quarter
0        1
1        1
2        1
3        1
4        1

In [ ]:
print("Missing values:")
print(path.isnull().sum())

Missing values:
Unnamed: 0    0
brand         0
count         0
percentage    0
state         0
year          0
quarter       0
dtype: int64

In [ ]:
path = path.dropna()

In [ ]:
path['count'] = path['count'].astype(int)
path['percentage'] = path['percentage'].astype(int)
path['year'] = path['year'].astype(int)
path['quarter'] = path['quarter'].astype(float)

In [ ]:
print("initial data")
print(path.head())

initial data
   Unnamed: 0    brand  count  percentage                      state  year  \
0           0   Xiaomi   1665           0  andaman-&-nicobar-islands  2018
1           1  Samsung   1445           0  andaman-&-nicobar-islands  2018
2           2     Vivo    982           0  andaman-&-nicobar-islands  2018
3           3     Oppo    501           0  andaman-&-nicobar-islands  2018
4           4  OnePlus    332           0  andaman-&-nicobar-islands  2018

   quarter
0      1.0
1      1.0
2      1.0
3      1.0
4      1.0

In [ ]:
path['brand'] = path['brand'].str.strip()
path['state'] = path['state'].str.strip()

In [ ]:
print("initial data")
print(path.head())

initial data
   Unnamed: 0    brand  count  percentage                      state  year  \
0           0   Xiaomi   1665           0  andaman-&-nicobar-islands  2018
1           1  Samsung   1445           0  andaman-&-nicobar-islands  2018
2           2     Vivo    982           0  andaman-&-nicobar-islands  2018
3           3     Oppo    501           0  andaman-&-nicobar-islands  2018
4           4  OnePlus    332           0  andaman-&-nicobar-islands  2018

   quarter
0      1.0
1      1.0
2      1.0
3      1.0
4      1.0

In [ ]:
print("Cleaned dataset:")
print(path.head())

Cleaned dataset:
   Unnamed: 0    brand  count  percentage                      state  year  \
0           0   Xiaomi   1665           0  andaman-&-nicobar-islands  2018
1           1  Samsung   1445           0  andaman-&-nicobar-islands  2018
2           2     Vivo    982           0  andaman-&-nicobar-islands  2018
3           3     Oppo    501           0  andaman-&-nicobar-islands  2018
4           4  OnePlus    332           0  andaman-&-nicobar-islands  2018

   quarter
0      1.0
1      1.0
2      1.0
3      1.0
4      1.0

In [ ]:
print(path.describe())

        Unnamed: 0         count  percentage         year      quarter
count  6732.000000  6.732000e+03      6732.0  6732.000000  6732.000000
mean      5.000000  5.140115e+05         0.0  2019.647059     2.411765
std       3.162513  1.081772e+06         0.0     1.233984     1.140715
min       0.000000  1.000000e+01         0.0  2018.000000     1.000000
25%       2.000000  9.354000e+03         0.0  2019.000000     1.000000
50%       5.000000  8.472250e+04         0.0  2020.000000     2.000000
75%       8.000000  4.555808e+05         0.0  2021.000000     3.000000
max      10.000000  1.134094e+07         0.0  2022.000000     4.000000

In [ ]:
total_count = path['count'].sum()
total_percentage = path['percentage'].sum()

print("Total count:", total_count)
print("Total percentage:", total_percentage)

Total count: 3460325192
Total percentage: 0

In [ ]:
state_count = path['state'].value_counts()
state_percentage = path.groupby('state')['percentage'].sum()

print("Counts by state:")
print(state_count)

print("\nPercentage by state:")
print(state_percentage)

Counts by state:
andaman-&-nicobar-islands             187
andhra-pradesh                        187
maharashtra                           187
manipur                               187
meghalaya                             187
mizoram                               187
nagaland                              187
odisha                                187
puducherry                            187
punjab                                187
rajasthan                             187
sikkim                                187
tamil-nadu                            187
telangana                             187
tripura                               187
uttar-pradesh                         187
uttarakhand                           187
madhya-pradesh                        187
lakshadweep                           187
ladakh                                187
delhi                                 187
arunachal-pradesh                     187
assam                                 187
bihar                                 187
chandigarh                            187
chhattisgarh                          187
dadra-&-nagar-haveli-&-daman-&-diu    187
goa                                   187
kerala                                187
gujarat                               187
haryana                               187
himachal-pradesh                      187
jammu-&-kashmir                       187
jharkhand                             187
karnataka                             187
west-bengal                           187
Name: state, dtype: int64

Percentage by state:
state
andaman-&-nicobar-islands             0
andhra-pradesh                        0
arunachal-pradesh                     0
assam                                 0
bihar                                 0
chandigarh                            0
chhattisgarh                          0
dadra-&-nagar-haveli-&-daman-&-diu    0
delhi                                 0
goa                                   0
gujarat                               0
haryana                               0
himachal-pradesh                      0
jammu-&-kashmir                       0
jharkhand                             0
karnataka                             0
kerala                                0
ladakh                                0
lakshadweep                           0
madhya-pradesh                        0
maharashtra                           0
manipur                               0
meghalaya                             0
mizoram                               0
nagaland                              0
odisha                                0
puducherry                            0
punjab                                0
rajasthan                             0
sikkim                                0
tamil-nadu                            0
telangana                             0
tripura                               0
uttar-pradesh                         0
uttarakhand                           0
west-bengal                           0
Name: percentage, dtype: int64

In [ ]:
path = '/content/final_agg_user.csv'

In [ ]:
chunk_size = 1000000

In [ ]:
medians = []

In [ ]:
for chunk in pd.read_csv(path, chunksize=chunk_size):
    median_chunk = chunk.median()
    medians.append(median_chunk)

<ipython-input-40-6041d9ffb6aa>:3: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  median_chunk = chunk.median()

In [ ]:
all_medians = pd.concat(medians)

In [ ]:
final_median = all_medians.median()

print("Final Median:", final_median)

Final Median: 5.0

In [10]:
import statistics

In [28]:
path = [
    {"brand": "Vivo", "count": 982, "percentage": 20, "state": "CA", "year": 2018, "quarter": 1},
    {"brand": "oppo", "count": 501, "percentage": 30, "state": "NY", "year": 2021, "quarter": 2},
    {"brand": "apple", "count": 4000, "percentage": 10, "state": "TX", "year": 2028, "quarter": 3},
    {"brand": "Xiomi", "count": 1665, "percentage": 20, "state": "CA", "year": 2018, "quarter": 1},
    {"brand": "Motorola", "count": 1005, "percentage": 30, "state": "NY", "year": 2021, "quarter": 2},
    {"brand": "Lenovo", "count": 3325, "percentage": 10, "state": "TX", "year": 2022, "quarter": 3},
    {"brand": "samsung", "count": 10, "percentage": 20, "state": "CA", "year": 2019, "quarter": 1},
    {"brand": "Realme", "count": 815, "percentage": 30, "state": "NY", "year": 2029, "quarter": 2},
    {"brand": "huawei", "count": 2145, "percentage": 10, "state": "TX", "year": 2019, "quarter": 3},
    # Add more rows as needed
]

In [29]:
count_values = [row["count"] for row in path]

In [31]:
standard_deviation = statistics.stdev(count_values)

In [32]:
print("Standard Deviation of count column:", standard_deviation)

Standard Deviation of count column: 1328.7538334845924