<a href="https://colab.research.google.com/github/Ayushsevare/pythonProjectuser2/blob/master/anaxeefinalaggtran.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
path = pd.read_csv('/content/final_agg_transaction.csv')

In [8]:
print("Initial dataset:")
print(path.head())

Initial dataset:
   Unnamed: 0                      name                      state  year  \
0           0  Recharge & bill payments  andaman-&-nicobar-islands  2018
1           1     Peer-to-peer payments  andaman-&-nicobar-islands  2018
2           2         Merchant payments  andaman-&-nicobar-islands  2018
3           3        Financial Services  andaman-&-nicobar-islands  2018
4           4                    Others  andaman-&-nicobar-islands  2018

   quarter  count        amount
0        1   4200  1.845307e+06
1        1   1871  1.213866e+07
2        1    298  4.525072e+05
3        1     33  1.060142e+04
4        1    256  1.846899e+05

In [9]:
print("Missing values:")
print(path.isnull().sum())

Missing values:
Unnamed: 0    0
name          0
state         0
year          0
quarter       0
count         0
amount        0
dtype: int64

In [10]:
path = path.dropna()

In [14]:

path['year'] = path['year'].astype(int)
path['quarter'] = path['quarter'].astype(int)
path['count'] = path['count'].astype(int)
path['amount'] = path['amount'].astype(float)

In [15]:
path['name'] = path['name'].str.strip()
path['state'] = path['state'].str.strip()

In [16]:
print("Cleaned dataset:")
print(path.head())

Cleaned dataset:
   Unnamed: 0                      name                      state  year  \
0           0  Recharge & bill payments  andaman-&-nicobar-islands  2018
1           1     Peer-to-peer payments  andaman-&-nicobar-islands  2018
2           2         Merchant payments  andaman-&-nicobar-islands  2018
3           3        Financial Services  andaman-&-nicobar-islands  2018
4           4                    Others  andaman-&-nicobar-islands  2018

   quarter  count        amount
0        1   4200  1.845307e+06
1        1   1871  1.213866e+07
2        1    298  4.525072e+05
3        1     33  1.060142e+04
4        1    256  1.846899e+05

In [17]:
path.to_csv('cleaned_dataset.csv', index=False)

In [18]:
print(path.head())

   Unnamed: 0                      name                      state  year  \
0           0  Recharge & bill payments  andaman-&-nicobar-islands  2018
1           1     Peer-to-peer payments  andaman-&-nicobar-islands  2018
2           2         Merchant payments  andaman-&-nicobar-islands  2018
3           3        Financial Services  andaman-&-nicobar-islands  2018
4           4                    Others  andaman-&-nicobar-islands  2018

   quarter  count        amount
0        1   4200  1.845307e+06
1        1   1871  1.213866e+07
2        1    298  4.525072e+05
3        1     33  1.060142e+04
4        1    256  1.846899e+05

In [19]:
print(path.describe())

        Unnamed: 0         year      quarter         count        amount
count  3054.000000  3054.000000  3054.000000  3.054000e+03  3.054000e+03
mean   1526.500000  2019.648657     2.412901  1.310269e+07  2.304493e+10
std     881.758187     1.234403     1.140955  4.353705e+07  9.757371e+10
min       0.000000  2018.000000     1.000000  2.000000e+00  3.439721e+01
25%     763.250000  2019.000000     1.000000  3.513675e+04  2.232801e+07
50%    1526.500000  2020.000000     2.000000  3.180430e+05  2.432797e+08
75%    2289.750000  2021.000000     3.000000  5.000162e+06  4.061436e+09
max    3053.000000  2022.000000     4.000000  6.462777e+08  1.375290e+12

In [20]:
total_count = path['count'].sum()
total_amount = path['amount'].sum()
print("Total count:", total_count)
print("Total amount:", total_amount)

Total count: 40015613546
Total amount: 70379225674362.56

In [22]:
state_counts = path['state'].value_counts()
state_amounts = path.groupby('state')['amount'].sum()

In [23]:
print("Counts by state:")
print(state_counts)

Counts by state:
andaman-&-nicobar-islands             85
andhra-pradesh                        85
maharashtra                           85
manipur                               85
meghalaya                             85
mizoram                               85
nagaland                              85
odisha                                85
puducherry                            85
punjab                                85
rajasthan                             85
sikkim                                85
tamil-nadu                            85
telangana                             85
tripura                               85
uttar-pradesh                         85
uttarakhand                           85
madhya-pradesh                        85
west-bengal                           85
ladakh                                85
delhi                                 85
arunachal-pradesh                     85
assam                                 85
bihar                                 85
chandigarh                            85
chhattisgarh                          85
dadra-&-nagar-haveli-&-daman-&-diu    85
goa                                   85
kerala                                85
gujarat                               85
haryana                               85
himachal-pradesh                      85
jammu-&-kashmir                       85
jharkhand                             85
karnataka                             85
lakshadweep                           79
Name: state, dtype: int64

In [24]:
print("Amounts by state:")
print(state_amounts)

Amounts by state:
state
andaman-&-nicobar-islands             9.013483e+09
andhra-pradesh                        7.295095e+12
arunachal-pradesh                     4.270156e+10
assam                                 5.935746e+11
bihar                                 3.167425e+12
chandigarh                            9.507654e+10
chhattisgarh                          8.144876e+11
dadra-&-nagar-haveli-&-daman-&-diu    3.476761e+10
delhi                                 3.059461e+12
goa                                   9.319400e+10
gujarat                               2.112884e+12
haryana                               1.951203e+12
himachal-pradesh                      1.718304e+11
jammu-&-kashmir                       2.131680e+11
jharkhand                             9.731785e+11
karnataka                             8.436751e+12
kerala                                7.379771e+11
ladakh                                1.299954e+10
lakshadweep                           3.368995e+08
madhya-pradesh                        3.824066e+12
maharashtra                           8.607010e+12
manipur                               7.300309e+10
meghalaya                             2.382173e+10
mizoram                               1.150671e+10
nagaland                              3.085903e+10
odisha                                2.360874e+12
puducherry                            6.333479e+10
punjab                                7.092700e+11
rajasthan                             5.262080e+12
sikkim                                2.570910e+10
tamil-nadu                            2.803169e+12
telangana                             8.886931e+12
tripura                               3.707891e+10
uttar-pradesh                         4.613852e+12
uttarakhand                           4.027259e+11
west-bengal                           2.828809e+12
Name: amount, dtype: float64