<a href="https://colab.research.google.com/github/Ayushsevare/pythonProjectuser2/blob/master/FINALTRANT02OP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
path= pd.read_csv('/content/final_transaction_top.csv')

In [ ]:
print("initial data")
print(path.head())

initial data
   Unnamed: 0                entityName                      state  year  \
0           0             south andaman  andaman-&-nicobar-islands  2018
1           1                  nicobars  andaman-&-nicobar-islands  2018
2           2  north and middle andaman  andaman-&-nicobar-islands  2018
3           3                    744101  andaman-&-nicobar-islands  2018
4           4                    744103  andaman-&-nicobar-islands  2018

   quarter  count        amount
0        1   5688  1.256025e+07
1        1    528  1.139849e+06
2        1    442  9.316631e+05
3        1   1622  2.769298e+06
4        1   1223  2.238042e+06

In [ ]:
print("Missing values:")
print(path.isnull().sum())

Missing values:
Unnamed: 0    0
entityName    2
state         0
year          0
quarter       0
count         0
amount        0
dtype: int64

In [ ]:
path = path.dropna()

In [ ]:
path['entityName'] = path['entityName'].str.strip()
path['state'] = path['state'].str.strip()

In [ ]:
print("initial data")
print(path.head())

initial data
   Unnamed: 0                entityName                      state  year  \
0           0             south andaman  andaman-&-nicobar-islands  2018
1           1                  nicobars  andaman-&-nicobar-islands  2018
2           2  north and middle andaman  andaman-&-nicobar-islands  2018
3           3                    744101  andaman-&-nicobar-islands  2018
4           4                    744103  andaman-&-nicobar-islands  2018

   quarter  count        amount
0        1   5688  1.256025e+07
1        1    528  1.139849e+06
2        1    442  9.316631e+05
3        1   1622  2.769298e+06
4        1   1223  2.238042e+06

In [ ]:
print("Cleaned dataset:")
print(path.head())

Cleaned dataset:
   Unnamed: 0                entityName                      state  year  \
0           0             south andaman  andaman-&-nicobar-islands  2018
1           1                  nicobars  andaman-&-nicobar-islands  2018
2           2  north and middle andaman  andaman-&-nicobar-islands  2018
3           3                    744101  andaman-&-nicobar-islands  2018
4           4                    744103  andaman-&-nicobar-islands  2018

   quarter  count        amount
0        1   5688  1.256025e+07
1        1    528  1.139849e+06
2        1    442  9.316631e+05
3        1   1622  2.769298e+06
4        1   1223  2.238042e+06

In [ ]:
print(path.describe())

         Unnamed: 0          year       quarter         count        amount
count  11098.000000  11098.000000  11098.000000  1.109800e+04  1.109800e+04
mean    5549.535412   2019.647234      2.411606  4.045318e+06  6.826993e+09
std     3204.725978      1.233996      1.140558  1.881342e+07  2.857885e+10
min        0.000000   2018.000000      1.000000  2.000000e+00  6.025276e+01
25%     2774.250000   2019.000000      1.000000  4.927000e+04  1.021462e+08
50%     5550.500000   2020.000000      2.000000  3.736385e+05  6.190229e+08
75%     8324.750000   2021.000000      3.000000  2.140586e+06  3.551740e+09
max    11099.000000   2022.000000      4.000000  6.483808e+08  8.379388e+11

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
path= pd.read_csv('/content/final_transaction_top.csv')

In [ ]:
item_frequencies = path['entityName'].value_counts().reset_index().rename(columns={'index': 'entityName', 'entityName': 'frequency'})

In [ ]:
item_frequencies = item_frequencies.sort_values('frequency', ascending=False)

In [ ]:
print(item_frequencies)

       entityName  frequency
0        bilaspur         34
2            west         34
3           north         34
4           south         34
1            east         34
...           ...        ...
954        759121          1
953        742101          1
952        796891          1
951        832107          1
1047  lower siang          1

[1048 rows x 2 columns]

In [ ]:
one_hot_encoded = pd.get_dummies(path.set_index('entityName')['state'])

In [ ]:
frequent_itemsets = apriori(one_hot_encoded, min_support=0.05, use_colnames=True)

/usr/local/lib/python3.10/dist-packages/mlxtend/frequent_patterns/apriori.py:158: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  itemsets = pd.Series([frozenset(i) for i in itemset_dict[k]])

In [ ]:
if len(frequent_itemsets) > 0:
    association_rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.5)
else:
    print("frequent_itemsets is empty. Please check your data.")

frequent_itemsets is empty. Please check your data.

In [ ]:
print(association_rules)

<function association_rules at 0x7fafb1a2dab0>